@import "@fortawesome/fontawesome-svg-core/styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    @apply bg-gray-100 text-gray-900 dark_bg-gray-800 dark_text-gray-100;
  }

  button:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }

  .CodeMirror {
    height: 100%;
  }
}
